<?php
	include_once(NAVIGATION_PATH."/header.php");
	include_once(NAVIGATION_PATH."/navbar.php");
?>
<div class="container">
	<div class="todays-match">
		<h1>Today's Match(es)</h1>
		<table width="100%" cellspadding="0" cellspacing="0">
			<tr>
				<th width="15%">Date</th>
				<th width="10%">Day</th>
				<th width="10%">Time</th>
				<th width="15%">Match No</th>
				<th width="50%">Description</th>
			</tr>
			<tr>
				<td align="center">23 April '17</td>
				<td align="center">Monday</td>
				<td align="center">4:00 PM</td>
				<td align="center">Match 21</td>
				<td>Sunrisers Hyderabad v Royal Challengers Bangalore, Rajiv Gandhi Intl. Cricket Stadium, Hyderabad</td>
			</tr>
		</table>
	</div>
	<div class="my-vote">
		<h1>My Vote</h1>
		<h2>Match 21</h2>
	</div>
</div>
  <?php
	include_once(NAVIGATION_PATH."/footer.php");
?>
