<?php
	include_once(NAVIGATION_PATH."/header.php");
	include_once(NAVIGATION_PATH."/navbar.php");
?>
<div class="container">
	<div class="todays-match">
		<h1>Today's Match</h1>
	</div>
	<!--<div class="my-vote">
		 <h1>My Vote</h1>
		<table>
			<tr>
				<th>Team</th>
				<th colspan="2">Vote</th>
			</tr>
			<tr>
				<td>
					<img src="<?php echo IMAGE_PATH_HTTP;?>/KX1.png" />
				</td>
				<td></td>
				<td></td>
			</tr>
		</table>
	</div>-->
</div>
  <?php
	include_once(NAVIGATION_PATH."/footer.php");
?>
